---
title: Annamária and Lionel - Wedding
---

<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'images/teotokos-2.jpeg' %>);">
    <div class="banner-content">
      <h1>Annamária & Lionel</h1>
      <p>23rd June 2018</p>
      <p>Incisa Val d'Arno, Italy</p>

      <%= link_to "Are you coming ?", "/rsvp.html", class: "btn btn-treehouse btn-lg" %>
    </div>
  </div>
</div>


<div class="container">
  <p class="text-center quote"><em>If I should have to leave this world today and you were to ask me for a single word, I would say ‘Be a family’.</em></p>
  <p class="text-center">- Chiara Lubich</p>
</div>


<div class="container">
  <%= partial "layouts/countdown" %>
</div>

<div class="container">
  <h2 class="text-center title">The Big Day</h2>
  <%= partial "layouts/the_big_day" %>
</div>


<div class="container">
  <h2 class="text-center title">Travel and Accomodation</h2>
  <%= partial "layouts/travel_and_accomodation" %>
</div>

<div class="container">
  <h2 class="text-center title">Wedding and Holidays in Tuscany</h2>
  <%= partial "layouts/wedding_and_holidays" %>
</div>

<div class="container">
  <h2 class="text-center title">Our Story</h2>
  <%= partial "layouts/our_story" %>
</div>
